<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<title>Home</title>
	</head>
	<body>
		<div>CONFERMA CANCELLAZIONE</div>
		<p>Cancellare la nota <span th:text="${nota.titolo}">titolo nota</span>?</p>
		<form action="#" method="post" th:action="@{/do_delete}" th:object="${nota}">
			<input type="hidden" th:field="*{id}">		
			<input type="submit" value="cancella"/>
		</form>
	</body>
</html>