<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<title>Home</title>
	</head>
	<body>
		<div>HOME</div>

		<form action="#" method="post" th:action="@{/edit}" th:object="${nota}">
			<input type="hidden" th:field="*{id}">
			<input type="text" th:field="*{titolo}" placeholder="titolo">
			<input type="text" th:field="*{contenuto}" placeholder="contenuto">
			<input type="submit" value="salva"/>
		</form>
	</body>
</html>